
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "CreateMovie";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using ModelAccess.ViewModel;
@model MovieView
<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h3 class="m-0 font-weight-bold text-primary">Thêm Phim</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CreateMovie">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="MovieId" class="control-label"></label>
                        <input asp-for="MovieId" class="form-control" />
                        <span asp-validation-for="MovieId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TypeId" class="control-label"></label>
                        <select asp-for="TypeId" class="form-control" asp-items="ViewBag.TypeId"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="MovieName" class="control-label"></label>
                        <input asp-for="MovieName" class="form-control" />
                        <span asp-validation-for="MovieName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ReleaseDate" class="control-label"></label>
                        <input asp-for="ReleaseDate" class="form-control" />
                        <span asp-validation-for="ReleaseDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="PosterPath" class="control-label"></label>
                        <input asp-for="PosterPath" class="form-control" />
                        <span asp-validation-for="PosterPath" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Duration" class="control-label"></label>
                        <input asp-for="Duration" class="form-control" />
                        <span asp-validation-for="Duration" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OverView" class="control-label"></label>
                        <input asp-for="OverView" class="form-control" />
                        <span asp-validation-for="OverView" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="MovieCatalog">Back to List</a>
        </div>
    </div>
</div>