@{
    ViewData["Title"] = "Verify";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/GlobalAssets/style.css" />
    <title>Sign in & Sign up Form</title>
</head>
<body>
    <div class="container">
        <div class="forms-container">
            <div class="signin-signup">
                <form method="post" class="sign-in-form">
                    <h2 class="title">Verify</h2>
                    <div class="input-field">
                        <input type="text" pattern="[0-9]*" title="Chỉ cho phép nhập số" class="form-control" id="Otp"
                               name="Otp"
                               placeholder="Nhập OTP" style="width:fit-content;">
                       
                    </div>
                   @* <input type="submit" value="Login" class="btn solid" />*@
                    <button type="submit" class="btn solid">Verify</button>
                </form>
            </div>
        </div>

        <div class="panels-container">
            <div class="panel left-panel">
                <div class="content">
                    <h3>New here ?</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
                        ex ratione. Aliquid!
                    </p>
                </div>
                <img src="~/GlobalAssets/img/log.svg" class="image" alt="" />
            </div>
            <div class="panel right-panel">
                <div class="content">
                    <h3>One of us ?</h3>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
                        laboriosam ad deleniti.
                    </p>
                </div>
                <img src="~/GlobalAssets/img/register.svg" class="image" alt="" />
            </div>
        </div>
    </div>

    <script src="~/GlobalAssets/app.js"></script>
</body>
</html>

