@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iQiyi - Xem online tiết mục truyền hình và phim hot</title>
    <link rel="icon" href="~/ViewerAssets/assets/img/logo.png">
    <link rel="stylesheet" href="~/ViewerAssets/assets/css/base.css">
    <link rel="stylesheet" href="~/ViewerAssets/assets/css/main.css">
    <link rel="stylesheet" href="~/ViewerAssets/assets/css/grid.css">
    <link rel="stylesheet" href="~/ViewerAssets/assets/css/responsive.css">
    <link rel="stylesheet" href="~/ViewerAssets/assets/fonts/themify-icons/themify-icons.css">
    <link rel="stylesheet" href="~/ViewerAssets/assets/fonts/fontawesome-free-5.15.4-web/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


</head>

<body>
    <div id="main">
        <div class="header">
            <div class="header-left">
                <div class="header_navbar">
                    <div class="navbar_btn">
                        <i class="fas fa-bars"></i>
                    </div>

                    <div class="navbar_overlay"></div>

                    <div class="navbar_block">
                        <span class="navbar_close">
                            <i class="ti-close"></i>
                        </span>
                        <div class="navbar_user">
                            <i class="far fa-user"></i>

                            <span>
                                <a asp-action="Logout" asp-controller="Access">Đăng nhập / Đăng ký</a>
                            </span>
                        </div>
                        <ul class="navbar_menu">
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Cài đặt cá nhân
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Bản dịch phụ đề</a>
                                    <a href="">Cài đặt cá nhân</a>
                                    <a href="">Tiếng Việt</a>
                                </div>
                            </li>
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Danh sách phim của tôi
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Lịch sử xem</a>
                                    <a href="">Sưu tập của tôi</a>
                                </div>
                            </li>
                            <li class="navbar_menu-item active">
                                <a href="" class="navbar_menu-link">
                                    Đề xuất
                                </a>
                            </li>
                            <li class="navbar_menu-item">
                                <a href="" class="navbar_menu-link">
                                    Phim Bộ
                                </a>
                            </li>
                            <li class="navbar_menu-item">
                                <a href="" class="navbar_menu-link">
                                    Phim Lẻ
                                </a>
                            </li>
                            <li class="navbar_menu-item">
                                <a href="" class="navbar_menu-link">
                                    Light On
                                </a>
                            </li>
                            <li class="navbar_menu-item">
                                <a href="" class="navbar_menu-link">
                                    TV Show
                                </a>
                            </li>
                            <li class="navbar_menu-item">
                                <a href="" class="navbar_menu-link">
                                    Hoạt Hình
                                </a>
                            </li>
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Giới thiệu về chúng tôi
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Thông tin công ty</a>
                                    <a href="">Giới thiệu dịch vụ sản phẩm</a>
                                </div>
                            </li>
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Hợp tác
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Đăng quảng cáo</a>
                                    <a href="">Quan hệ kinh doanh</a>
                                    <a href="">Hợp tác cài đặt trước</a>
                                </div>
                            </li>
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Hỗ trợ và giúp đỡ
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Phản ánh ý kiến</a>
                                    <a href="">Trung tâm phản hồi bảo mật</a>
                                    <a href="">Câu hỏi thường gặp</a>
                                </div>
                            </li>
                            <li class="navbar_menu-item has-submenu">
                                <h5 class="navbar_menu-item-title">
                                    Điều khoản dịch vụ
                                    <i class="down-icon fas fa-chevron-down"></i>
                                    <i class="up-icon fas fa-chevron-up"></i>
                                </h5>
                                <div class="navbar_sub-menu">
                                    <a href="">Điều khoản quyền riêng tư</a>
                                    <a href="">Điều khoản sử dụng</a>
                                </div>
                            </li>
                        </ul>
                        <div class="navbar_downapp">
                            <a href="" class="navbar_downapp-link">
                                <img src="~/ViewerAssets/assets/img/Apple.png" alt="">
                            </a>
                            <a href="" class="navbar_downapp-link">
                                <img src="~/ViewerAssets/assets/img/Google.png" alt="">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="header_logo">
                    <a href="">
                        <img src="~/ViewerAssets/assets/img/logo.png" alt="">
                    </a>
                </div>

                <ul class="header_nav-list">

                    @await Component.InvokeAsync("GenresMenu")
                </ul>
            </div>

            <div class="header-right">
                <div class="header_search">
                    <div class="header_search-form">
                        <input type="text" class="header_search-input" placeholder="Tìm kiếm...">
                        <div class="header_search-btn">
                            <i class="fas fa-search icon_search"></i>
                        </div>
                    </div>
                    <div class="header_search-overlay"></div>
                    <div class="header_search-history">
                        <div class="header_search-history-title">
                            Lịch sử tìm kiếm
                            <i class="far fa-trash-alt"></i>
                        </div>
                        <div class="header_search-history-tag">
                            <a href="">Toàn bộ mục video</a>
                            <a href="">Phim truyền hình Hàn Quốc</a>
                        </div>
                        <div class="header_hotsearch">
                            <div class="header_hotsearch-title">Tìm kiếm hot</div>
                            <div class="header_hotsearch-list">
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number" style="color: #f01111;">1</span> Boruto: Naruto hậu sinh khả úy
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number" style="color: #ff8422;">2</span> Girls Planet 999
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number" style="color: #ffae00;">3</span> One Piece (Đảo Hải Tặc)
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">4</span> Bí Mật Nơi Góc Tối
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">5</span> Các Tế Bào Của Yumi
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">6</span> Naruto
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">7</span> Hóa Ra Em Rất Yêu Anh
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">8</span> Tình Yêu Và Âm Mưu
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">9</span> Bí Ẩn Núi Jiri
                                </a>
                                <a href="" class="header_hotsearch-item">
                                    <span class="header_hotsearch-number">10</span> Khu Vực Nguy Hiểm
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="header_icon-wrap header_icon-search header_nav-has-subnav">
                    <div class="header_icon">
                        <i class="ti-search"></i>
                    </div>
                </div>

                <div class="header_icon-wrap header_nav-has-subnav">
                    <div class="header_icon">
                        <i class="fas fa-download"></i>
                    </div>
                    <div class="header_icon-hover header_subnav header_download">
                        <ul class="header_download-list">
                            <li class="header_download-item">
                                <i class="far fa-play-circle"></i> Phát mượt mà tốc độ cao
                            </li>
                            <li class="header_download-item">
                                <i class="ti-download"></i> Tải về điện thoại xem ngoại tuyến
                            </li>
                            <li class="header_download-item">
                                <i class="ti-layout-media-center-alt"></i> Xem phụ đề đa ngôn ngữ
                            </li>
                        </ul>
                        <a href="" class="header_download-btn">Tải về để trải nghiệm</a>
                    </div>
                </div>
                <div class="header_icon-wrap header_nav-has-subnav">
                    <div class="header_icon">
                        <i class="far fa-list-alt"></i>
                    </div>
                    <div class="header_icon-hover header_subnav header_historyandcollection">
                        <div class="header_tabs">
                            <div class="header_tab-item active">
                                <i class="header_tab-icon far fa-clock"></i> Lịch sử xem
                            </div>
                            <div class="header_tab-item">
                                <i class="header_tab-icon far fa-bookmark"></i> Sưu tập của tôi
                            </div>
                            <div class="line"></div>
                        </div>

                        <div class="header_tab-content">
                            <div class="header_tab-pane active">
                                <img src="~/ViewerAssets/assets/img/empty_history.png" alt="">
                                <p>Đăng nhập để quản lý lịch sử xem nội dung trên các thiết bị khác nhau.</p>
                                <a class="header_tab-btn" asp-action="Logout" asp-controller="Access">Đăng xuất</a>
                            </div>
                            <div class="header_tab-pane">
                                <img src="~/ViewerAssets/assets/img/empty_history.png" alt="">
                                <p>Đăng nhập để quản lý bộ sưu tập phim của bạn trên các thiết bị khác nhau.</p>
                                <a class="header_tab-btn" asp-action="Logout" asp-controller="Access">Đăng xuất</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="header_icon-wrap header_nav-has-subnav">
                    <div class="header_icon">
                        <i class="ti-world"></i>
                    </div>
                    <div class="header_icon-hover header_subnav header_language">
                        <a href="" class="header_language-link active">Tiếng Việt</a>
                        <a href="" class="header_language-link">English</a>
                    </div>
                </div>
                <div class="header_icon-wrap header_nav-has-subnav">
                    <a href="">
                        @{
                            if (ViewBag.Avatar == null || ViewBag.Avatar == "Unknown")
                            {
                                <img src="https://firebasestorage.googleapis.com/v0/b/movieweb-de135.appspot.com/o/AvatarUser%2FAvtDefault.jpg?alt=media&token=6436e579-9b8b-4a5a-8f68-7e08371b2483" width="30" height="30" style="border-radius: 40%" />
                            }
                            else
                            {
                                <img src="@ViewBag.Avatar" width="30" height="30" style="border-radius: 40%" />
                            }
                        }
                    </a>
                    <div class="header_icon-hover header_subnav header_user">
                        <a class="header_tab-btn" asp-action="UserDetail" asp-controller="Home">Thông tin người dùng</a>
                        <a class="header_user-btn" asp-action="Logout" asp-controller="Access">Đăng Xuất</a>
                    </div>
                </div>

                <div class="header_tagvip header_nav-has-subnav">
                    <div class="header_tagvip-btn">
                        <i class="fas fa-crown"></i> VIP
                    </div>
                    <div class="header_tagvip-menu header_subnav">
                        <a href="" class="header_tagvip-privilege-navigation">
                            Quyền lợi thành viên
                            <i class="fas fa-chevron-right"></i>
                        </a>
                        <div class="header_tagvip-privilege-list">
                            <a href="" class="header_tagvip-privilege-item">
                                <img src="~/ViewerAssets/assets/img/privilege-1.png" alt="">
                                <span>Hỗ trợ đa nền tảng</span>
                            </a>
                            <a href="" class="header_tagvip-privilege-item">
                                <img src="~/ViewerAssets/assets/img/privilege-2.png" alt="">
                                <span>Blu-ray 1080P</span>
                            </a>
                            <a href="" class="header_tagvip-privilege-item">
                                <img src="~/ViewerAssets/assets/img/privilege-3.png" alt="">
                                <span>Nội Dung Độc Quyền</span>
                            </a>
                            <a href="" class="header_tagvip-privilege-item">
                                <img src="~/ViewerAssets/assets/img/privilege-4.png" alt="">
                                <span>Không Quảng Cáo</span>
                            </a>
                        </div>
                        <a href="" class="header_tagvip-join">Kích hoạt VIP chỉ 633đ/ngày</a>
                        <a href="" class="header_tagvip-codekey">Mã đổi quà</a>
                    </div>
                </div>
            </div>
        </div>

        <button class="backtop-btn" onclick='window.scrollTo({top: 0, behavior: "smooth"});'>
            <i class="fas fa-chevron-up"></i>
        </button>

        <div class="billboard">
            <div class="billboar-wrap active">
                <div class="billboard_backdrop">
                    <div class="billboard_backdrop-img">
                        <img src="~/ViewerAssets/assets/img/billboard-img.webp" alt="Quân Cửu Linh - 01 - Tạ Trạch - Bành Tiểu Nhiễm – Kim Hạn – Đỗ Á Phi" title="Quân Cửu Linh">
                    </div>
                    <div class="billboard_backdrop-video">
                        <video src="~/ViewerAssets/assets/img/billboard-video.mp4" autoplay muted poster="~/ViewerAssets/assets/img/billboard-img.webp"></video>
                    </div>
                </div>

                <div class="billboard_overlay"></div>

                <div class="billboard_content">
                    <div class="billboard_content-main">
                        <img src="~/ViewerAssets/assets/img/billboard-title.webp" alt="" class="billboard_content-title">
                        <div class="billboard_content-info">
                            <span class="billboard_content-year">2020</span>
                            <span class="billboard_content-update">16 tập</span>
                        </div>
                        <p class="billboard_content-description">
                            Vẻ Đẹp Đích Thực với bộ ba cực phẩm như Cha Eun-woo, Moon Ga-young và Hwang In-yoeb sẽ mang lại những thước phim chân thật về lứa tuổi học trò.
                        </p>
                        <div class="billboard_content-btns">
                            <a href="" class="billboard_content-btn-play">
                                <i class="fas fa-play"></i>
                                <span>Xem ngay</span>
                            </a>
                            <a href="" class="billboard_content-btn-add">
                                <i class="far fa-bookmark">
                                    <i class="fas fa-plus"></i>
                                </i>
                                <span>Thêm vào lưu trữ</span>
                            </a>
                        </div>
                    </div>

                    <div class="billboard_content-control">
                        <div class="billboard_content-control-btn">
                            <i class="fas fa-volume-mute mute active"></i>
                            <i class="fas fa-volume-up unmute"></i>
                            <i class="fas fa-undo-alt reload"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @RenderBody()
        <div class="footer">
            <div class="footer-wrapper grid wide">
                <div class="footer_top">
                    <div class="footer_top-language">
                        <i class="ti-world"></i>
                        <span>Tiếng Việt</span>
                    </div>
                    <div class="footer_top-socials">
                        <a href="">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-instagram"></i>
                        </a>
                        <a href="">
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </div>
                </div>

                <div class="footer_helpcenter row">
                    <div class="footer_helpcenter-section col l-3 m-6 c-12">
                        <h5 class="footer_helpcenter-title">Giới thiệu về chúng tôi</h5>
                        <div class="footer_helpcenter-list">
                            <a href="" class="footer_helpcenter-item">Thông tin công ti</a>
                            <a href="" class="footer_helpcenter-item">Giới thiệu dịch vụ sản phẩm</a>
                        </div>
                    </div>
                    <div class="footer_helpcenter-section col l-3 m-6 c-12">
                        <h5 class="footer_helpcenter-title">Hợp tác</h5>
                        <div class="footer_helpcenter-list">
                            <a href="" class="footer_helpcenter-item">Đăng quảng cáo</a>
                            <a href="" class="footer_helpcenter-item">Quan hệ kinh doanh</a>
                            <a href="" class="footer_helpcenter-item">Hợp tác cài đặt trước</a>
                        </div>
                    </div>
                    <div class="footer_helpcenter-section col l-3 m-6 c-12">
                        <h5 class="footer_helpcenter-title">Hỗ trợ và giúp đỡ</h5>
                        <div class="footer_helpcenter-list">
                            <a href="" class="footer_helpcenter-item">Phản ánh ý kiến</a>
                            <a href="" class="footer_helpcenter-item">Trung tâm phản hồi bảo mật</a>
                            <a href="" class="footer_helpcenter-item">Câu hỏi thường gặp</a>
                        </div>
                    </div>
                    <div class="footer_helpcenter-section col l-3 m-6 c-12">
                        <h5 class="footer_helpcenter-title">Điều khoản dịch vụ</h5>
                        <div class="footer_helpcenter-list">
                            <a href="" class="footer_helpcenter-item">Điều khoản quyền riêng tư</a>
                            <a href="" class="footer_helpcenter-item">Điều khoản sử dụng</a>
                        </div>
                    </div>
                </div>

                <div class="footer_bottom">
                    <div class="footer_getapp-link">
                        <a href="">
                            <img src="~/ViewerAssets/assets/img/Apple.png" alt="">
                        </a>
                        <a href="">
                            <img src="~/ViewerAssets/assets/img/Google.png" alt="">
                        </a>
                    </div>
                    <div class="footer_getapp-search">
                        <div class="footer_getapp-keyword">
                            <img src="~/ViewerAssets/assets/img/pc-footer-icon.png" alt="">
                        </div>
                        <span>Tìm kiếm trong cửa hàng ứng dụng dành cho thiết bị di động</span>
                    </div>
                    <div class="footer_copyright">
                        <p>
                            Chúng tôi sử dụng Cookies để cải thiện trải nghiệm sử dụng của bạn. Nếu bạn tiếp tục sử dụng trang web của chúng tôi, có nghĩa là bạn đồng ý chúng tôi sử dụng Cookies. Đọc <a href="">Chính sách quyền riêng tư iQIYI</a>
                        </p>
                        <p>Copyright © 2021 iQiyi All Rights Reserved</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/ViewerAssets/search.js"></script>
    <script>
        // Lấy thẻ icon tìm kiếm và thẻ input
        const searchIcon = document.querySelector('.icon_search');
        const searchInput = document.querySelector('.header_search-input');
        // Thêm sự kiện click vào thẻ icon tìm kiếm
        searchIcon.addEventListener('click', function () {
            const searchValue = searchInput.value;
            window.location.href = '/Home/searchByNameOrActor?name=' + encodeURIComponent(searchValue);
        });
    </script>
</body>
</html>