
@{
    ViewData["Title"] = "Caputure";
    Layout = "~/Views/Shared/_LayoutPayment.cshtml";
}

<h1>Caputure</h1>

<div>
    <form asp-action="CapturePayment">
        <div class="row">
            <div class="col-md-2">
                Payment Id
            </div>
            <div class="col-md-4">
                <input type="text" name="paymentid" class="form-control" />
            </div>
            <div class="col-md-2">
                <input type="submit" class="btn-primary" value="Capture" />
            </div>
        </div>
    </form>
</div>
@*<div class="container">
    <h2>Capture Payment On Queue</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Payment ID</th>
            </tr>
        </thead>
        <tbody>
            <tr>

                <td>john@example.com</td>
            </tr>
            <tr>
                <td>Mary</td>

            </tr>
            <tr>
                <td>July</td>

            </tr>
        </tbody>
    </table>
</div>*@